@model IEnumerable<Home.Models.TransportsModel>

@{
    ViewData["Title"] = "Transports";
}

<h1>Transports</h1>

<p>
    <a asp-action="Create">Create New Transport</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.trname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trcategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trcomment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.trname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trcategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trcomment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
